body
 {
    @media (min-width:300px) and (max-width:400px)

    
    margin:0%; 
    padding:0%;
    color: white;
    background-color: rgb(22, 21, 21);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Fonte*/
    background-image: url(./2.jpg.jpg);
    background-size: cover;
    background-position: center; /*Posição central*/
    height: 100vh; /*Tela toda*/
    width: 100%;
}

    ul 
    {
        display:flex; /* como vai ficar o dispaly*/
        justify-content: space-between;
        padding: 20px;
        padding-left: 8%;
        padding-right: 8%;
        align-items: center;
        list-style-type: none; /*Para Tirar os Pontos*/

    }
    nav h2{
        color:rgba(247, 243, 243, 0.938);
        font-size: 40px;/*Tamanho da Fonte*/
        cursor: pointer;
        letter-spacing: 1px; /*Espacamento letras*/
        list-style-type: none;
    }
   span{
    color: #6e0566;
   }
    nav ul li a
    {
        color:white;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
        list-style-type: none;
    }
    .btn{
        background-color: #6e0566;
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
        transition: transform .5s;

    }

    .btn:hover{
        transform:scale(1.3);
    }
    header img
    {
     
        margin: 20px;
        width: 300px;
        height:300px;

        border-radius: 50%;
        border: 5px solid #53d7f8;
        margin-bottom: 100px;
    }
    .Left{
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(50%);

    }
    h4{
        color: aliceblue;
        letter-spacing: 2px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    h1{
        color: aliceblue;
        margin: 20px 0px 20px;
        font-size: 75px;
    }
    h3{
        color: aliceblue;
        font-size: 25px;
        margin-bottom: 25px;
    }
    .background-color-sobre{
        background-color: black;
        width: 100%;
        padding: 100px 0px;
    
    }
    .background-color-sobre img{
        width: 430px;
        height: auto;
    }
    .text-sobre{
        width:450px;

    }    
    .main-sobre{
        display: flex;
        align-items: center;
        justify-content: space-around;/*Forma/Disposiçaõ do Texto*/
        width: 1130px;
        margin: 2px auto;
    }
    .text-sobre
     h5{
        letter-spacing: 2px;
        color:aliceblue;
        font-size: 22px;
       
        

    }

   .text-sobre 
   p{
         color: aliceblue;
    
    }

    
    .center 
    { 
        text-align:center;/*Elemento no centro*/

    }
    footer img
    {
        width: 50px; /*altura*/
        height:50px;/* Largura da img*/
    }

    footer 
    {
        display:flex;
        justify-content:center;
    }
    footer p{
        margin-top: 2px;
    }

    
    footer a
    {
        margin: 150px;
    }
    .container
    {
        padding: 0px 50px;
    }
